*.iml
.kotlin
.gradle
**/build/
xcuserdata
!src/**/build/
local.properties
.idea
.DS_Store
captures
.externalNativeBuild
.cxx
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
node_modules/
/composeApp/src/main/assets/countries_fallback.json
/iosApp/iosApp/Resources/countries_fallback.json
/composeApp/src/main/assets/countries_detail_data.json
/composeApp/src/main/assets/countries_data.json
/iosApp/iosApp/AppRawData/countries_detail_data.json
/iosApp/iosApp/AppRawData/countries_data.json
